html {
    min-height: 100%;
}

body {
    background-image: linear-gradient(bottom, rgb(0,0,0) 0%, rgb(20,28,38) 50%);
    background-image: -o-linear-gradient(bottom, rgb(0,0,0) 0%, rgb(20,28,38) 50%);
    background-image: -moz-linear-gradient(bottom, rgb(0,0,0) 0%, rgb(20,28,38) 50%);
    background-image: -webkit-linear-gradient(bottom, rgb(0,0,0) 0%, rgb(20,28,38) 50%);
    background-image: -ms-linear-gradient(bottom, rgb(0,0,0) 0%, rgb(20,28,38) 50%);

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, rgb(0,0,0)),
        color-stop(0.5, rgb(20,28,38))
    );

    font-family: 'Roboto', sans-serif;
    color: #fff;
}

h1, legend {
    color: #fff;
    font-weight: 100;
    margin-top: 0;
    width: 100%;
}

li.video, ul#videos {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li.video {
    display: block;
    width: 940px;
    height: 200px;
    position: relative;

    margin-bottom: 10px;
}
li.video img {
    width: 470px;
    float: left;
}

li.video div.details {
    width: 470px;
    float: right;
}

li.video div.details div.title {
    padding: 10px;
    font-weight: 100;
    font-size: 18pt;
}

li.video div.details div.desc {
    padding: 10px;
    font-weight: 100;
    color: #777;
}

li.video div.watch {
    position: absolute;
    bottom: 0px;
    left: 480px;
    background: #fff;
    font-weight: 400;
    color: #000;
    line-height: 0.8em;
    padding-top: 9px;
}

li.video div.watch:hover {
    cursor: pointer;
    position: absolute;
    background: #000;
    color: #fff;
}