<tr>
    <td>
        <%= name %>
    </td>
    <td>
        <%= type %>
    </td>
    <td>
        <% if (typeof done == "undefined") {%>
            <% if (typeof progress != "undefined") {%>
            <div class="progress progress-striped active">
                <div class="bar bar-success" style="width: <%= Math.ceil(progress.percent * 200) %>%"></div>
            </div>
            <% } else { %>
                <div class="progress progress-striped active">
                    <div class="bar bar-warning" style="width: 100%"></div>
                </div>
            <% } %>
        <% } else { %>
            <% if (done == true) { %>
                <div class="progress">
                    <div class="bar bar-success" style="width: 100%"></div>
                </div>
            <% } else { %>
                <div class="progress progress-striped">
                    <div class="bar bar-warning active" style="width: 100%"></div>
                </div>
            <% } %>
        <% } %>
    </td>
    <td width="88">
        <button class="btn">More Info</button>
    </td>
</tr>
