<!doctype html>
<html>
    <head>
        <title>Lazee<%- blocks.title %></title>
        <link rel="stylesheet" href="/styles/bootstrap.css"/>
        <link rel="stylesheet" href="/styles/lazee.css"/>
        
        <%- stylesheets %>

        <script type="text/javascript" src="/scripts/vendor/jquery.js"></script>
        <script type="text/javascript" src="/scripts/vendor/underscore.js"></script>
        <script type="text/javascript" src="/scripts/vendor/backbone.js"></script>
        <script type="text/javascript" src="/scripts/vendor/bootstrap.js"></script>

        <script type="text/javascript" src="/scripts/template.js"></script>
        
        <%- scripts %>
    </head>
    <body>
        <div class="container">
            <h1>Lazee</h1>

            <div id="content">
                <% if (session.error) { %>
                    <div class="alert alert-error error">
                          <strong><%= session.error %></strong>
                    </div>
                <% } %>

                <% if (session.message) { %>
                    <div class="alert">
                          <strong><%= session.message %></strong>
                    </div>
                <% } %>
                <%- body %>
            </div>
        </div>
    </body>
</html>
